/***************TAG SELECTORS*********************/
body{
  margin:0;
  text-align: center;
  font-family: 'Arima Madurai', cursive;
  background-color: #92B4EC;
}

h1{
  margin-top:0;
  font-size: 5.625rem;
  font-family: 'Gloria Hallelujah', cursive;
  margin-bottom:0;

}

h2{
  font-family: 'Roboto', sans-serif;
  font-size:2.5em;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-size:1.3em;
}

hr{
  border-top:15px;
  width:5%;
  margin: 30px auto;
  color:grey;
  border-style:dotted none none none;
}

/***************ClASS SELECTORS*******************/

.top-container{
  padding-top:60px;
}

.middle-container{
  background: rgb(146,180,236);
  background: linear-gradient(360deg, rgba(146,180,236,1) 0%, rgba(255,255,255,1) 100%);
}

.profile{
  padding-top:50px;
}

.top-cloud{
  position:relative;
  left:150px;
}

.bottom-cloud{
  position:relative;
  right:150px;
  padding-top:50px;
}

.top-subContainer4{
  height:320px;
}

.grass{
  position:relative;
  bottom:15px;
}

.profilePicture{
  height:350px;
  padding-top: 30px;
}

.icons{
  height:300px;
  margin-top:30px;
}

.ref{
  font-size: 10px;
}
